html, body {
  height: 100%;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  line-height: 1.5;
  margin-top: -8rem;
}
body {
  background: rgb(23, 25, 24);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 1rem;
  text-align: center;
}
h1 {
  disp
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 1.1;
  margin: 0;
  /* text-transform: uppercase; */
}
h3 {
  font-weight: normal;
}
a {
  color: lightblue;
}
#logo, img {
  width: 8rem;
  text-align: center;
}
.pull-quote {
  font-style: italic;
}
iframe {
  margin-top: 1.5rem;
}
@media screen and (max-width: 900px) and (min-width: 480px) {
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
}

p {
  margin: 1rem 0 0 0;
}
