html, body {
  height: 100%;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  line-height: 1.5;
  margin-top: -8rem;
}
body {
  background: rgb(23, 25, 24);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 1rem;
  text-align: center;
  min-width: 90vw;
}
h1 {
  disp
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 1.1;
  margin: 0;
  /* text-transform: uppercase; */
}
h3 {
  font-weight: normal;
}
a {
  color: lightblue;
}
#logo, img {
  width: 8rem;
  text-align: center;
}
.pull-quote {
  font-style: italic;
}

iframe {
  margin-top: 1.5rem;
}

@media screen and (max-width: 900px) and (min-width: 480px) {
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  iframe {
      min-width: 80vw;
  }
}

p {
  margin: 1rem 0 0 0;
  min-width: 90vw;
  width: 90%
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  iframe {
      min-width: 80vw;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  iframe {
      min-width: 80vw;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  iframe {
      min-width: 80vw;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  iframe {
      min-width: 80vw;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  iframe {
      min-width: 80vw;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  iframe {
      min-width: 80vw;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  iframe {
      min-width: 80vw;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  iframe {
      min-width: 80vw;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  iframe {
      min-width: 80vw;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  html, body {
    margin-top: 0rem;
    min-width: 100%;
    min-width: 100vw;
  }
  h1 {
    font-size: 1.5rem;
  }
  iframe {
      min-width: 80vw;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
